<style>
@import url('https://fonts.googleapis.com/css?family=Gothic+A1&display=swap');
    h1{
      color:blue;
      font-family: 'Gothic A1', sans-serif;
    }
    p{
      color:blue;
    }
    .ptag{
      color: orange;
    }
    #h1{
      color: red;
    }
    #btn1{
      background-color:orange;
    }
    .jumbotron{
      width:900px;
      max-width:900px;
      margin: auto;
    }
    .card-columns{
      width:900px;
      margin: auto;
    }
    .form-post{
      width:900px;
      margin: auto;
      border-color:#000000;
      border-radius:0.5rem;
      border-bottom:solid;
      border:solid;
      padding:1rem;
      margin:1rem auto;
    }
</style>





